body {
  background-color: #EAF0CE;
}
hr{
  border-style: none;
  border-top: dotted;
  background-color: inherit;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
